.a1 {
    background-color: #000000;
}

.a2 {
    background-color: #000070;
}

.a3 {
    background-color: #1a1aff;
}

.a4 {
    background-color: #ccccff;
}

.atxt1 {
    color: #9999ff !important;
}

.atxt2 {
    color: #1a1aff !important;
}

.atxt3 {
    color: #000070 !important;
}

.b1 {
    background-color: #1b262c;
}

.b2 {
    background-color: #0f4c75;
}

.b3 {
    background-color: #3282b8;
}

.b4 {
    background-color: #bbe1fa;
}

.btxt1 {
    color: #9999ff !important;
}

.btxt2 {
    color: #1a1aff !important;
}

.btxt3 {
    color: #000070 !important;
}

.c1 {
    background-color: #23b8c1;
}

.c2 {
    background-color: #0f4c75;
}

.c3 {
    background-color: #23b8c1;
}

.c4 {
    background-color: #bbe1fa;
}

.ctxt1 {
    color: #1c3a2c !important;
}

.ctxt2 {
    color: #a5a6ad !important;
}

.ctxt3 {
    color: #b8b9c2 !important;
}