{% extends "layout.html" %}

{% block content %}
<div class="col-11 mx-auto mt-4 c">
    <h2>Infura Test Nets</h2>
    <div class="col-1 mx-auto mt-4 c">
        <form method="POST">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="options" id="options1" value="option1" checked>
                <label class="form-check-label" for="options1">
                    Main Net
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="options" id="options2" value="option2">
                <label class="form-check-label" for="options2">
                    Kovan Net
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="options" id="options3" value="option3">
                <label class="form-check-label" for="options3">
                    Rinkeby Net
                </label>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Pick</button>
        </form>
    </div>
</div>
{% endblock %}
