{% extends "layout.html" %}

{% block content %}
<div class="col-11 mx-auto mt-4 c">
    <h2 class="mx-auto">
        Consult From Ethereum Blockchain
    </h2>

    <div class="col-10 mx-auto">
        <form method="POST">
            <div class="col-5 mx-auto mt-5 mb-3">
                <label for="Input1" class="form-label">Address</label>
                <input type="text" class="form-control" id="Input1" name="address" placeholder="0xFC58C26caf80ef....">
            </div>
            <div class="col-11 mx-auto mt-5 mb-3">
                <label for="Textarea1" class="form-label">abi</label>
                <textarea class="form-control" id="Textarea1" name="abi" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Check Blockchain</button>
        </form>
    </div>

</div>
{% endblock %}
